/*General rules*/
:root {
    --body-copy: "Poppins";
    /* base and brand colors  */
    --brand-color-d-blue: #1a0d39;
    --brand-color-purple: #4d40b3;
    --brand-color-blue: #395696;
    --brand-color-black: #000000;
    --brand-color-white: #ffffff;
    /* text-colors  */
    --primary-text-color-1: #16181e;
    --primary-text-color-2: #313541;
    --secondary-text-color: #3f4a56;
    /* fill-colors  */
    --fill-l-blue: #d1e4ff;
    --fill-aqua: #c7e8f7;
    /* hover colors  */
    --primary-hover: #6e14ef;
    --secondary-hover: #47649e;
    /* borders and line colors  */
    --light-blue-grey: #f1f4fa;
    --light-grey: #cccccc;
    --dark-grey: #ababab;
    --blue-grey-1: #8091a5;
    --blue-grey-2: #667587;
    --blue-grey-3: #3f4a56;
    --secondary-border: #4402a0;
    /* box-shadow settings  */
    --b-shadow: -8px 8px 15px -7px #cccccc;
    --br-shadow: 8px 8px 15px -1px #cccccc;
    --br-dark-shadow: 7px 7px 12px -3px #6d6d6d;
    --border: 1px solid #8091a5;
    /* border-radius  */
    --br-sm: 8px;
    --br-md: 16px;
    --br-lg: 24px;
    /* navbar  */
    --navbar-height: 70px;
    --navbar-bg-color: #ffffff;
    /* side margins  */
    --side-margins-sm-device: 0 10px;
    --side-margins-576px: 0 16px;
    --side-margins-768px: 0 20px;
    --side-margins-992px: 0 24px;
    --side-margins-1200px: 0 28px;
    --side-margins-1400px: 0 120px;
    --side-margins-1800px: 0 160px;
    --side-margins-2560px: 0 48px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--brand-color-white);
}

nav {
    padding: 5px 10px;
}

ul {
    font-family: var(--body-copy);
    color: var(--primary-text-color-1);
    line-height: 25px;
    list-style-type: none;
    text-transform: capitalize;
    text-align: left;
}

.bullet-list {
    text-transform: none;
    list-style-type: disc;
    margin-left: 30px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2em;
}

h1 {
    font-family: var(--body-copy);
    font-size: 1.6rem;
    line-height: 5pt;
    padding-left: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-family: var(--body-copy);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 5pt;
    line-height: 40pt;
    text-transform: capitalize;
}


h3 {
    font-family: var(--body-copy);
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-text-color-1);
    margin-bottom: 1em;
}

p {
    font-family: var(--body-copy);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.78;
}

.pointer-cursor {
    cursor: pointer;
  }

.guitar-tuner {
    width: 300px;
    height: 300px;
    background-color: rgb(247, 247, 247);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#note-name {
    position: absolute;
    /* Position the text absolutely within the .guitar-tuner container */
    top: 50%;
    /* Move the text to the vertical center */
    left: 0;
    right: 0;
    transform: translateY(-50%);
    /* Adjust the position to center the text */
    font-size: 22px;
    text-align: center;
}

a {
    font-family: var(--body-copy);
    color: var(--primary-text-color-1);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.78;
    margin-bottom: 24px;
    text-decoration: none;
    cursor: pointer;
}

.emphasis {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.78;
}

.italic-text {
    margin-top: 1em;
    font-style: italic;
    font-family: "Poppins";
    font-weight: 700;
    display: flex;
    margin-top: 2em;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2em;
}

.primary-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color-purple);
    font-family: var(--body-copy);
    letter-spacing: 2pt;
    color: var(--brand-color-white);
    border: 1px solid var(--secondary-border);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    box-shadow: var(--br-dark-shadow);
    transition: all .3s ease-in-out;

    &:hover {
        background-color: cornflowerblue;
        color: var(--brand-color-black);
        box-shadow: none;
    }
}

.secondary-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color-white);
    font-family: var(--body-copy);
    letter-spacing: 2pt;
    color: var(--secondary-border);
    border: 1px solid var(--secondary-border);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    box-shadow: var(--br-dark-shadow);
    transition: all .3s ease-in-out;

    &:hover {
        background-color: cornflowerblue;
        color: var(--brand-color-black);
        box-shadow: none;
    }
}

.tertiary-button {
    background-color: white;
    border: none;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    color: var(--brand-color-purple);
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

/* General Component styles  */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    box-shadow: var(--b-shadow);
    z-index: 1;
    width: 100%;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 53px;
    padding-left: 5px;

}

.home-link,
.navbar-links {
    font-family: var(--body-copy);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-logo {
    display: flex;
    font-family: var(--body-copy);
    flex-direction: row;
    margin-bottom: 0;
    align-items: center;
}

.navbar-logo img {
    width: 40px;
    height: auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-name h1 {
    font-size: 1.4rem;
}

.logo-name span {
    color: var(--brand-color-purple);
}

#hamburger-menu {
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all .5s ease-in-out;
}

#hamburger-menu .icon-bar {
    fill: var(--brand-color-purple);

    &:hover {
        fill: var(--brand-color-black);
    }
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    display: none;
}

#nav-menu.show {
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    left: 0;
    margin: 0;
}

.nav-menu .navbar-link,
.nav-menu .navbar-link a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
    font-size: 1.2rem;
    color: var(--navbar-bg-color);
}


.navbar-link a.active-link {
    text-decoration: underline;
}

.main-content-container {
    margin: var(--side-margins-sm-device);
}

.global-hero-banner-with-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 10px 40px 10px;
}

/* hero sections  */
.global-hero-banner-with-button.index {
    background-image: url(assets/img/hero-imgs/index-hero.webp);
}

.global-hero-banner-with-button.basics {
    background-image: url(assets/img/hero-imgs/basics-hero.webp);
}

.global-hero-banner-with-button.strings {
    background-image: url(assets/img/hero-imgs/strings-hero.webp);
}

.global-hero-banner-with-button.tuning {
    background-image: url(assets/img/hero-imgs/tuning-hero.webp);
}

.global-hero-banner-with-button.frets {
    background-image: url(assets/img/hero-imgs/frets-hero-2.jpg);
}

.global-hero-banner-with-button.chords {
    background-image: url(assets/img/hero-imgs/chords-hero.webp);
}

.global-hero-banner-with-button.rhythm {
    background-image: url(assets/img/hero-imgs/rhythm-lesson-hero.webp);
}

.global-hero-banner-with-button.tabs {
    background-image: url(assets/img/hero-imgs/tabs-hero.webp);
}

.fretMap {
    width: 96vw;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 393px;
    width: 100%;
    background-color: #a9a9a963;
    padding: 20px 20px 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hero-content .title.dark {
    color: var(--brand-color-black);
    font-weight: bolder;
}

.hero-content .title.blue {
    color: var(--brand-color-d-blue);
}

.hero-content .title.white {
    color: var(--brand-color-white);
}

.hero-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
    width: 100%;
}

/* modal styles  */

.modal {
    position: fixed;
    bottom: -68px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: bottom 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    transition: all 0.8s cubic-bezier(0.1, 1, 1, 0.9);
    display: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 10px;
    height: 111%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.modal-header h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.close-modal {
    display: flex;
    font-size: 24px;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 85%;
    overflow-y: auto;
}

.modal-body p {
    display: flex;
    margin-bottom: 5px;
    font-size: 0.94rem;
    line-height: 30px;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    flex-direction: row;
}

/* .tab-button, */
.tab-link {
    font-family: var(--body-copy);
    font-size: 0.98rem;
    letter-spacing: 1px;
    background-color: #809ee1;
    color: var(--brand-color-black);
    border: 1px solid var(--blue-grey-1);
    width: 50%;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: cornflowerblue;
        color: var(--brand-color-black);
        border: 1px solid var(--brand-color-black);
        box-shadow: none;
    }
}

/* .tab-button.active, */
.tab-link.active {
    color: var(--brand-color-white);
    background-color: var(--brand-color-purple);
    border: 1px solid var(--brand-color-d-blue);
}

.tab-content_main {
    display: none;
    border: 1px solid var(--blue-grey-1);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.tab-content table {
    width: 100%;
    border-collapse: collapse;
}

.tab-content th {
    font-family: var(--body-copy);
    font-size: 0.98rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px;
    text-align: left;
    background-color: #6e7bdb;
    color: var(--brand-color-black);
}

.tab-content td {
    font-family: var(--body-copy);
    font-size: 0.96rem;
    padding: 8px;
    text-align: left;
}

.tab-content tr:nth-child(odd) td {
    background-color: #f8f7ff;
}

.flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.flex-row.no-wrap {
    flex-wrap: nowrap;
    width: 100%;
}

/* flex-row-space-around  */
.flex-row-SA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3em;
    margin-bottom: 1em;
    width: 100%;
}

/* flex row space between  */
.flex-row_SB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-row_SB .primary-button {
    width: unset;
    height: unset;
    padding: 8px 16px;
}

/* home page -inner course navigation  */

.page-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.page-nav-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-nav-container .card-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 233px;
}

.page-nav-container .card-image.basics {
    background-image: url(assets/img/index-imgs/basics-thumbnail.webp);
}

.page-nav-container .card-image.strings {
    background-image: url(assets/img/index-imgs/strings-image.webp);
}

.page-nav-container .card-image.tuning {
    background-image: url(assets/img/index-imgs/tuning-image-sm.webp);
}

.page-nav-container .card-image.frets {
    background-image: url(assets/img/index-imgs/frets-image.webp);
}

.page-nav-container .card-image.chords {
    background-image: url(assets/img/index-imgs/chords-image.webp);
}

.page-nav-container .card-image.rhythm {
    background-image: url(assets/img/index-imgs/rhythm-guitar-image.webp);
}

.page-nav-container .card-image.lead {
    background-image: url(assets/img/index-imgs/lead-guitar-image.webp);
}

.page-nav-container .card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 15px;
}

.page-nav-container .card-content .primary-button {
    margin-top: 1em;
}

.flex-col_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.flex-col_centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.flex-col_centered .guitar-comp-image {
    background-image: url(assets/img/basics-imgs/guitar-diagram-min.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 96vw;
    height: 300px;
}

.flex-col_centered .metronome-image {
    background-image: url(assets/img/rhythm-imgs/metronome.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 96vw;
    height: 300px;
}

.flex-col_centered .c-am-tab-image {
    background-image: url(assets/img/lead-imgs/tab-1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 96vw;
    height: 300px;
}

.flex-col.no-gap {
    gap: 0;
}

/* editorial section  */
.main-editorial {
    display: flex;
    flex-direction: inherit;
}

.flex-row .emphasis-logo {
    width: 80px;
    height: 80px;
}

.main-editorial .image-section {
    width: 100vw;
    height: auto;
}

/* generic card layout  */
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Default to a single column */
    grid-gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

/* Card styles */
.grid-container .card {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px;
}

.grid-container .card .card-image-section {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.headstock {
    background-image: url(assets/img/basics-imgs/headstock.webp);
}

.tuning {
    background-image: url(assets/img/basics-imgs/tuning-image.webp);
}

.nut {
    background-image: url(assets/img/basics-imgs/nut-min.webp);
}

.fretboard {
    background-image: url(assets/img/basics-imgs/frets-image.webp);
}

.frets {
    background-image: url(assets/img/frets-imgs/titled-frets-image.webp);
}

.fretting {
    background-image: url(assets/img/frets-imgs/fretting.webp);
}

.sound-waves {
    background-image: url(assets/img/frets-imgs/sound-waves-min.webp);
}

.e-minor {
    background-image: url(assets/img/frets-imgs/eminor.webp);
}

.open-a-chord {
    background-image: url(assets/img/chords-imgs/slider-imgs/open-chords/open-A-slider.webp);
}

.finger-posture {
    background-image: url(assets/img/frets-imgs/fretting-min.jpeg);
}

.bridge {
    background-image: url(assets/img/basics-imgs/bridge-min.webp);
}

.sitting {
    background-image: url(assets/img/basics-imgs/sitting.webp);
}

.shoulders {
    background-image: url(assets/img/basics-imgs/shoulders-level.webp);
}

.take-time {
    background-image: url(assets/img/basics-imgs/take-a-break.webp);
}

.chair {
    background-image: url(assets/img/basics-imgs/chair.webp);
}

.no-slouching {
    background-image: url(assets/img/basics-imgs/avoid-slouching.webp);
}

.foot-position {
    background-image: url(assets/img/basics-imgs/feet-planted.webp);
}

.classical {
    background-image: url(assets/img/basics-imgs/classical-position.webp);
}

.regular {
    background-image: url(assets/img/basics-imgs/regular-acoustic-position.webp);
}

.regular-resting {
    background-image: url(assets/img/basics-imgs/rest-forearm.webp);
}

.strap {
    background-image: url(assets/img/basics-imgs/strap.webp);
}

.strap-adjusting {
    background-image: url(assets/img/basics-imgs/strap-adjust.webp);
}

.standing {
    background-image: url(assets/img/basics-imgs/standing.webp);
}

.classical-guitar {
    background-image: url(assets/img/strings-imgs/classical-guitar.webp);
}

.acoustic-guitar {
    background-image: url(assets/img/strings-imgs/acoustic-guitar.webp);
}

.electric-guitar {
    background-image: url(assets/img/strings-imgs/electric-guitar.webp);
}

.acoustic-headstock {
    background-image: url(assets/img/tuner-imgs/acoustic-headstock-tuner.webp);
}

.electric-headstock {
    background-image: url(assets/img/tuner-imgs/electric-headstock-tuner.webp);
}

.bass-headstock {
    background-image: url(assets/img/tuner-imgs/bass-headstock-tuner.webp);
}

.uke-headstock {
    background-image: url(assets/img/tuner-imgs/uke-headstock-tuner.webp);
}

.open-a-min {
    background-image: url(assets/img/chords-imgs/Open-Amin.webp);
    width: 100%;
    max-height: 300px;
}

.a-min-barre {
    background-image: url(assets/img/chords-imgs/Amin-barre.webp);
    width: 100%;
    max-height: 300px;
}

/* tabs-cards  */
.tabs-numbers {
    background-image: url(assets/img/lead-imgs/tabs-number.webp);
    width: 100%;
    max-height: 300px;
}

.tabs-open-and-close {
    background-image: url(assets/img/lead-imgs/tabs-open-close.webp);
    width: 100%;
    max-height: 300px;
}

.tabs-handp {
    background-image: url(assets/img/lead-imgs/tabs-handp.webp);
    width: 100%;
    max-height: 300px;
}

.tabs-bending {
    background-image: url(assets/img/lead-imgs/tabs-bending.webp);
    width: 100%;
    max-height: 300px;
}

.tabs-vibrato {
    background-image: url(assets/img/lead-imgs/tabs-vibrato.webp);
    width: 100%;
    max-height: 300px;
}

.tabs-sliding {
    background-image: url(assets/img/lead-imgs/tabs-sliding.webp);
    width: 100%;
    max-height: 300px;
}


.grid-container .card .card-content {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.medium-img {
    width: -webkit-fill-available;
}

.grid-container .card .card-content .card-title {
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: center;
}

.grid-container .card .card-content .card-text {
    font-size: 1rem;
    text-align: left;
}

.grid-container .card .video-container,
.grid-container .card .video-container .poster-image,
.grid-container .card .video-container .video {
    position: relative;
    width: -webkit-fill-available;
    overflow: hidden;
    /* 16:9 aspect ratio (height / width) */
}

.grid-container .card .video-container .full-width {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btt-button {
    position: fixed;
    bottom: -0.75rem;
    right: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-color-purple);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    box-shadow: 10px 10px 22px -6px rgba(0, 0, 0, 0.44);
}

.btt-button .span {
    fill: var(--brand-color-white);
    transition: 0.2s ease-out;
}

/* dynamic tuner page */
.flex-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* table  */
.guitar-tuner-table {
    border-collapse: collapse;
    width: 100%;
    flex-direction: column;
    font-family: "Poppins";
}

.guitar-tuner-table th,
.guitar-tuner-table th td {
    padding: 8px;
    text-align: left;
}

.guitar-tuner-table th {
    background-color: #330066;
    color: white;
    font-size: 18px;
    /* Larger header text size */
}

.guitar-tuner-table td {
    padding: 10px 18px;
}

.guitar-tuner-table tr:nth-child(odd) {
    background-color: #f7f7f7;
    /* Zebra striping */
}

.guitar-tuner-table td:first-child,
.guitar-tuner-table th:first-child {
    width: 70%;
    /* String column wider */
}

.guitar-tuner-table td:nth-child(2),
.guitar-tuner-table th:nth-child(2) {
    width: 30%;
    /* Status column wider */
}

.guitar-tuner-table td:nth-child(3),
.guitar-tuner-table th:nth-child(3) {
    width: 10%;
}

.flex-col_centered .guitar-headstock_tuning {
    width: 100%;
    height: auto;
}

.tuner-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tuner-button-container .primary-button {
    width: 270px;
}

.tuner-button-container .primary-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* advanced tuner  */
.notes-container_acoustic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 5em;
}

.notes-container_bass {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5em;
    gap: 25em;
}

.active-grid-item {
    outline: 2px solid #109ec5;
    border-radius: 10px;
}


.col_center {
    display: flex;
    flex-direction: column;
}


#interactive-image-tuner {
    align-items: center;
    margin: 0 10px;
}

.interactive-placeholder {
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 90vw;
    border-radius: 10px;
    background-position-y: 50%;
    background-position-x: 50%;
}

.acoustic {
    background-image: url(assets/img/tuner-imgs/acoustic-headstock-tuner.webp);
}

.electric {
    background-image: url(assets/img/tuner-imgs/electric-headstock-tuner.webp);
}

.bass {
    background-image: url(assets/img/tuner-imgs/bass-headstock-tuner.webp);
}

.uke {
    background-image: url(assets/img/tuner-imgs/uke-headstock-tuner.webp);
}

.button-container_acoustic {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 0;
}

.button-container_electric {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    margin-left: 2em;
    margin-top: 2em;
}

.rounded-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--body-copy);
    font-size: 1rem;
    width: 44px;
    height: 44px;
    border: 1px solid var(--brand-color-blue);
    border-radius: 50%;
    box-shadow: var(--br-dark-shadow);
    cursor: pointer;
    transition: all .5s ease-in-out;

    &:hover {
        background-color: var(--brand-color-blue);
        color: var(--brand-color-white);
        box-shadow: none;
    }
}

.tuner-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    border: 1px solid var(--blue-grey-1);
    border-radius: 1em;
    background-color: var(--brand-color-white);
    padding: 1em;
}

.grid-container_quad {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Default to a quadrant 2*2 column */
    grid-gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.grid-container_quad .guitar-select-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid var(--blue-grey-1);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.grid-container_quad .guitar-select-button:hover {
    box-shadow: none;
    filter: grayscale(0.6);
}

.grid-container_quad .guitar-select-button .thumbnail {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 150px;
}

/* frets  */

.centered-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2em;
    border-radius: 30px;
    margin: 0 auto;

    .centered-image-container_title {
        background-color: #ffffffa1;
        color: #000;
        padding: 0 20px;
        width: 100%;
    }
}

.contain {
    background-size: contain;
}

/* slider styles  */
.slideshow-container {
    position: relative;
    max-width: 100%;
    height: auto;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.slider-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: inherit;
        font-weight: bold;
        font-size: 22px;
        color: var(--brand-color-purple);
        transition: 0.6s ease;
        background-color: var(--brand-color-white);
        width: 47px;
        height: 47px;
        border: 2px solid var(--brand-color-purple);
        border-radius: 50%;
        transition: all .5s ease-in-out;
        box-shadow: var(--br-shadow);

        &:hover {
            background-color: #ffffffb8;
            box-shadow: none;
        }
    }
}

.next {
    right: 0;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Styles for the table */
.chord-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Poppins";
}

.chord-table th,
td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.chord-table th {
    background-color: var(--brand-color-blue);
    color: white;
}

/* Styling for table rows */
.chord-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styling for table header */
.chord-table th,
td {
    font-weight: 500;
}

/* Center-align the table */
.chord-table table {
    margin-left: auto;
    margin-right: auto;
}

/* footer styles  */

footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--blue-grey-1);
    padding-top: 1em;
}

.footer-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--blue-grey-1);
    padding: 1em 0;
    margin: var(--side-margins-sm-device);
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 3em;
    margin-bottom: 1em;
}

.footer-column .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-column .logo-name {
    font-family: var(--body-copy);
    font-size: 1.4rem;
    line-height: 5pt;
    padding-left: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-column .logo .logo-image {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.footer-column .footer-list-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-media-link,
.social-media-icons {
    display: flex;
    width: 70px;
    height: 70px;
}


.facebook .fill {
    fill: #395696;
}

.linkedin .fill {
    fill: #62ACC7;
}

.twitter .fill {
    fill: #4eb3ec;
}

.help-link {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.help-link p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.78;
    margin-bottom: 0;
}

.help-link:hover {
    text-decoration: underline;
}

.help-link svg {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.help-link span {
    text-transform: lowercase;
}

/* tabs page  */
/* Styles for the modal */
.tabs-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.tabs-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: 0 auto;
    border: 1px solid #888;
    width: 100%;

    .flex-row {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        text-decoration: underline;

        .vid-modal-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
        }

        .closeVideoModal {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            transition: all .5s ease-in-out;

            &:hover {
                border-radius: 50%;
                background-color: #e0dcdc;
                cursor: pointer;
            }

            &:focus {
                background-color: #e0dcdc;
                cursor: pointer;
            }
        }
    }
}


/* Styles for the accordion */
/* Initially hide all accordion content */
.accordion .grid-container {
    display: none;
}

/* Style for the active accordion header */
.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
}

.accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    border-bottom: 1px solid var(--blue-grey-1);
    background-color: var(--brand-color-white);
    color: var(--primary-text-color-1);
    padding: 10px 0;
    margin: 0;
    cursor: pointer;

    &:hover {
        background-color: #ffffffdb;
    }
}

.accordion-header h3 {
    margin-bottom: 0;
}


/* Styles for the active accordion */
.accordion.active {
    background-color: #ffffffdb;
}

.accordion .grid-container {
    margin: 0;
    margin-top: 20px;
}

.accordion .grid-container .grid-item {
    width: -webkit-fill-available;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

@media all and (min-width: 576px) {

    /* layouts */
    .flex-row_SB {
        flex-direction: row;
    }

    .top {
        justify-content: flex-start;
    }

    .main-content-container {
        margin: var(--side-margins-576px);
    }

    .global-hero-banner-with-button {
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 20px;
    }

    .hero-content {
        width: 100%;
    }

    /* frets1 styles  */

    .centered-image-container {
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .open-chord-carousel {
        max-width: 800px;
        margin: 20px auto;
        padding: 15px;
        text-align: center;
        position: relative;
        border: 1px solid grey;
        border-radius: 5px;
    }

    .open-chord-carousel .btn {
        position: absolute;
        top: 50%;
        height: 60px;
        width: 60px;
        border: 1px solid #5bffff;
        border-radius: 50% 50%;
        background-color: #ffffff;
        z-index: 1;
        line-height: 30px;
        text-align: center;
        color: #5bffff;
        font-weight: bold;
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .open-chord-carousel .btn:hover {
        background-color: rgba(95, 106, 117, 0.5);
        cursor: pointer;
    }

    .open-chord-carousel .btn.next {
        right: 15px;
    }

    .open-chord-carousel .btn.prev {
        left: 15px;
    }

    .yak {
        display: none !important;
    }

    .yik {
        display: block;
    }

    .modal::after {
        top: 60%;
    }

    .footer-column .footer-list-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 2em;
    }

    .interactive-placeholder {
        height: 704px;
    }

    .interactive-placeholder,
    .tuner-selection {
        width: 95vw;
    }

    .rounded-button {
        width: 52px;
        height: 52px;
    }

    .grid-container_quad {
        grid-template-columns: repeat(2, 1fr);
    }

    .button-container_acoustic {
        gap: 4em;
    }
}

@media screen and (min-width: 768px) {

    .hero-content {
        align-items: flex-start;
    }

    /* index-styles  */
    .page-nav-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .page-nav-container .card {
        margin-bottom: 1em;
    }

    .page-nav-container .card .card-content .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .page-nav-container .card-image {
        max-height: 250px;
    }

    .main-content-container {
        margin: var(--side-margins-768px);
    }

    .modal {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .modal-content {
        width: 75%;
        height: 86%;
        position: relative;
        left: 12%;
        top: 4%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: -webkit-fill-available;
    }

    .modal-body {
        max-height: 100%;
        overflow-y: revert;
    }

    .tabs,
    .tab-content {
        width: -webkit-fill-available;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns */
    }

    .flex-col_centered {
        margin-bottom: 1em;
        width: 100%;
    }

    .flex-col_centered .full-width-image {
        width: 80%;
        height: auto;
    }

    .flex-row {
        flex-direction: row;
    }

    .flex-row.no-wrap {
        width: unset;
        gap: 0;
    }

    .footer-column .logo-name {
        font-family: var(--body-copy);
        font-size: 1.6rem;
        line-height: 5pt;
        padding-left: 10px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .footer-list-row {
        margin-top: 2em;
    }

    .emphasis {
        letter-spacing: 1pt;
    }

    #interactive-image-tuner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .interactive-placeholder,
    .interactive-placeholder.acoustic,
    .interactive-placeholder.electric,
    .interactive-placeholder.bass,
    .interactive-placeholder.uke {
        width: 340px;
    }

    .interactive-placeholder.electric {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .tuner-selection {
        width: 100%;
        height: 510px;
    }

    .tuner-selection .flex-row {
        margin-bottom: 0;
    }

    .grid-container_quad {
        grid-template-columns: repeat(2, 1fr);
    }

    .notes-container_acoustic {
        width: 90%;
        margin-bottom: 4em;
    }

    .notes-container_bass {
        margin-bottom: 4em;
        gap: 13em;
    }

    .button-container_acoustic {
        gap: 4em;
    }

    .button-container_electric {
        margin-left: 8px;
        gap: 18px;
    }

    .grid-container_quad .guitar-select-button {
        padding: 8px;
    }

    .grid-container_quad .guitar-select-button .thumbnail {
        width: 150px;
        height: 110px;
    }

    .medium-img {
        width: 500px;
    }

    /* tabs page  */

    .tabs-modal-content {
        padding: 20px;

        .flex-row {
            padding: 0;
        }
    }

    .accordion {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;

        .accordion .grid-container {
            display: none;
        }
    }

    .accordion .grid-container .grid-item {
        border-bottom: none;
    }
}

@media screen and (min-width: 992px) {

    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* layout-styles  */
    #large-device-display {
        display: none;
    }

    .flex-col_left p {
        align-self: flex-start;
    }

    .flex-col_centered img {
        max-width: 500px;
    }

    .flex-row-SA {
        flex-wrap: nowrap;
    }

    .centered-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .medium-container {
        width: 40%;
    }

    .top {
        justify-content: center;
        align-items: center;
    }

    .global-hero-banner-with-button {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .hero-button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
    }

    .hero-content {
        align-items: flex-start;
    }

    .hero-button-container .primary-button {
        width: 74%;
    }

    .main-content-container {
        margin: var(--side-margins-992px);
    }

    .page-nav-container {
        justify-content: center;
        gap: 3em;
    }

    .page-nav-container .card {
        margin-bottom: 0;
        max-width: 433px;
        width: 100%;
    }

    .page-nav-container .card-content .primary-button {
        width: 100%;
    }

    /* basics styles */
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        max-width: 944px;
        width: 100%;
    }

    .grid-container .card .card-content {
        height: 460px;
    }

    .interactive-placeholder.bass {
        width: 380px;
    }

    /* chords  */
    .slideshow-container {
        max-width: 70%;
    }

    /* footer styles  */
    footer {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--blue-grey-1);
        padding-top: 1em;
    }

    .footer-row {
        flex-direction: row;
        margin: var(--side-margins-992px);
    }

    .footer-column {
        width: 50%;
        gap: 0;
    }

    .help-link {
        align-items: center;
        margin: 1em 0;
    }

    .help-link:hover {
        text-decoration: underline;
    }

    .help-link svg {
        width: 35px;
        height: 35px;
        margin-right: 20px;
    }

    .help-link span {
        text-transform: lowercase;
    }

}

@media only screen and (min-width: 1090px) {
    .accordion .grid-container {
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {

    .interactive-placeholder,
    .interactive-placeholder.acoustic,
    .interactive-placeholder.electric,
    .interactive-placeholder.bass,
    .interactive-placeholder.uke {
        width: 470px;
        height: 500px;
    }

    #navbar {
        margin: 0;
        padding: 0;
    }

    .navbar-container {
        margin: var(--side-margins-1200px);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
        height: var(--navbar-height);
    }

    #hamburger-menu {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .nav-menu .navbar-link {
        margin: 0;
        padding: 0;
        transition: border-bottom 0.3s ease;
    }

    .nav-menu .navbar-link a {
        font-size: 1rem;
        color: var(--brand-color-black);
        margin-bottom: 0;
        padding-bottom: 0;

        &:hover {
            border-bottom: 0.5px solid var(--brand-color-purple);
        }
    }

    .global-hero-banner-with-button {
        padding-top: 190px;
        padding-left: 40px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .hero-button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
    }

    .main-content-container {
        margin: var(--side-margins-1200px);
    }

    .modal-content {
        width: 60%;
        height: 86%;
        left: 20%;
    }

    .page-nav-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 1000px;
    }

    .page-nav-container .card {
        flex-direction: row;
        align-items: normal;
        max-width: 100%;
        max-height: 250px;
    }

    .page-nav-container .card .card-image {
        width: 30%;
        height: 250px;
    }

    .page-nav-container .card-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
        justify-content: space-between;
    }

    .page-nav-container .card-content .card-text {
        margin-bottom: 0;
    }

    .page-nav-container .card .card-content .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .page-nav-container .card .card-content .button-container .primary-button {
        width: 25%;
        background-color: var(--brand-color-purple);
        box-shadow: var(--br-dark-shadow);
    }

    .page-nav-container .card .card-content .button-container .primary-button:hover {
        background-color: var(--primary-hover);
        box-shadow: none;
    }

    .grid-container {
        max-width: 1163px;
    }

    .grid-container .card .card-content {
        height: 350px;
    }

    .grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #sm-device-display {
        display: none;
    }

    #large-device-display {
        display: flex;
    }

    #large-device-display .flex-row_center {
        display: flex;
    }

    /* layout  */
    .flex-col_left {
        margin-bottom: 1em;
    }

    .flex-row-lg {
        display: flex;
        flex-direction: row;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 3em;
    }

    .flex-row_j-t {
        display: flex;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 1em;
        margin-bottom: 1em;
    }

    .flex-row-lg .flex-col_centered {
        width: 50%;
    }

    .interactive-notes {
        width: 60%;
        margin-bottom: 2em;
    }

    .interactive-notes .col {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        gap: 1.5em;
    }

    .interactive-notes button {
        cursor: pointer;
    }

    .interactive-notes button:hover {
        background-color: var(--secondary-hover);
        color: var(--brand-color-white);
        transition: box-shadow .5s ease-in-out;
        box-shadow: none;
        cursor: pointer;
    }

    .social-media-link,
    .social-media-icons {
        width: 42px;
        height: 42px;
    }

    /* tabs  */
    .accordion .grid-container .grid-item {
        flex-direction: column;
    }

}

@media only screen and (min-width: 1400px) {

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-container {
        margin: var(--side-margins-1400px);
        width: 84%;
    }

    .global-hero-banner-with-button {
        padding-left: 120px;
    }

    .main-content-container {
        margin: var(--side-margins-1400px);
    }

    .main-editorial .image-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .footer-row {
        margin: var(--side-margins-1400px);
    }

    /* interactive tuner   */
    .flex-col_centered .guitar-headstock_tuning {
        width: 50%;
        height: auto;
    }

    /* chords  */
    .slideshow-container {
        width: 100%;
        max-width: 100%;
    }

    /* tabs  */
    .tabs-modal-content {
        width: 76%;
    }
}

@media only screen and (min-width:1800px) {

    .navbar-container {
        margin: var(--side-margins-1800px);
    }

    .menu-toggle {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .nav-menu .navbar-link {
        color: #1a1a1a;
        font-size: 19px;
        margin: 0;
    }

    .nav-menu .navbar-link:hover {
        color: var(--brand-color);
        transition: all .5s ease-in-out;
        border-bottom: 1px solid var(--brand-color);
    }

    .main-content-container {
        margin: var(--side-margins-1800px);
    }

    .modal {
        top: 55px;
    }

    .modal-content {
        width: 40%;
        height: 86%;
        left: 30%;
    }

    .global-hero-banner-with-button {
        padding-left: 170px;
    }

    .hero-content {
        width: 460px;
        height: 200px;
        max-width: unset;
    }

    .hero-content .hero-button-container .primary-button,
    .hero-content .hero-button-container .secondary-button {
        width: 50%;
    }

    /* interactive tuner   */
    .flex-col_centered .guitar-headstock_tuning {
        width: 40%;
        height: auto;
    }

    /* chords  */

    .footer-row {
        margin: var(--side-margins-1800px);
    }

    /* tabs  */
    .tabs-modal-content {
        width: 60%;
    }

    .video-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        /* Set to relative positioning */
    }

    .playPauseButton {
        position: absolute;
        /* Set to absolute positioning */
        top: 50%;
        /* Center vertically */
        left: 50%;
        /* Center horizontally */
        transform: translate(-50%, -50%);
        /* Center the button perfectly */
        border-radius: 50%;
        border: none;
        background-color: #eb1616;
        padding: 20px;
        transition: all .5s ease-in-out;
    }
    .playPauseButton:hover {
            background-color: #ee3838;
        }
    

}